.container {
  max-width: 1200px;
  text-align: center;
  margin: 20px 0px;


  ul {
    padding: 5px;
    margin-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;

    .card {
      overflow-wrap: break-word;
      border-radius: 1rem;
      background-image: url('src/image/jungleCard.jpg');
      background-position: 100%;
      background-size: cover;
      margin: 2px;
      padding: 0.5em 2em;
      background-repeat: no-repeat;
      width: 300px;
      height: max-content;
      list-style-type: none;
      box-shadow: 0.1rem 1rem 3rem rgba(62, 193, 26, 0.515);
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        filter: drop-shadow(-0.2rem 0.2rem 01.1px rgb(48, 238, 5));

        h1 {
          transform: scale(1.1);
        }
      }

      .card-header {
        color: rgba(255, 0, 0, 0.8);
        text-align: center;

        h1 {
          text-shadow: 1px 3px 5px #fff;
          filter: drop-shadow(-0.2rem 0.1rem 0.1px rgba(244, 8, 8, 0.815));
          transition: all 0.3s ease-in-out;
        }
      }

      .card-body {
        text-align: start;
        color: #fff;
      }

      .card-footer {
        margin-top: 10px;
        border-radius: 1rem;
        filter: drop-shadow(-2px 2px 10px #22e469);
        background: linear-gradient(to right, #64ea0aa8, #1eb6e4, #2ce761a0);
        display: flex;
        justify-content: space-around;

        .done {
          padding: 2px 5px;
          border-radius: 50%;
          // opacity: 0.5;
        
          transition: all 0.3s ease-out;
          &:hover{
            transform: scale(2.6);
            box-shadow: 2px 3px 10px green;
            filter: drop-shadow(2px 3px 10px rgb(4, 247, 4));
          }
          .icon{
            border-radius: 50%;
          }
    
        }
        
        .edit {
          padding: 2px 5px;
          border-radius: 60%;
          // opacity: 0.5;
          transition: all 0.3s ease-out;
          &:hover{
            transform: scale(2.6);
            box-shadow: 2px 3px 10px green;
            filter: drop-shadow(2px 3px 10px rgb(4, 247, 4));
          }
          .icon{
            border-radius: 5px;
          }
        }
        
        .delete {
          padding: 2px 5px;
          border-radius: 50%;
          // opacity: 0.5;
          transition: all 0.3s ease-out;
          &:hover{
            transform: scale(2.6);
            box-shadow: 2px 3px 10px green;
            filter: drop-shadow(2px 3px 10px rgb(4, 247, 4));

          }
          .icon{
            border-radius: 5px;
            background: none;
            &:active,
            &:focus{

              background:linear-gradient(to top, red,blue,green);
            }
          }
        }
        .icon{
          background:linear-gradient(to top, rgb(0, 174, 255),rgb(127, 127, 215),rgb(122, 128, 0));
          color: #ffffff84;
          // border-radius: 50%;
        }
      }

    }
  }
}